*{box-sizing: border-box;}
/* ======================= STRUCTURE DE LA PAGE ================================ */

.wrapper { 
    width: 1170px;
    margin: 0 auto;
    overflow: hidden;
}

body { margin: 0 0 0 0; }

img{max-width :100%;}

a {text-decoration: none;}

/* ========================== PARTIE HEADER ========================== */


header { 
    background: linear-gradient(to right, rgba(0,255,255,1) 0%,rgba(0,51,255,1) 100%);
    overflow: hidden;
    position: relative;    
}

header .right {
    text-align: right;
    margin-right: 50px;
    margin-top: 40px;
    color: #ffffff;
}

.Menu {
    position: absolute;
    width : 30px;
    height: 25px;
    right: 95px;
    top: 35px;
    color: white;
    border:solid 2px;
}

.Menu span {
    display: block;
    width: 100%;
    height: 2px;
    background: white;
}

.Menu .line1 {
    position: absolute;
    left: 4px;
    top: 7px;
    width: 70%;
}

.Menu .line2 {
    position: absolute;
    left: 4px;
    top: 13px;
    width: 40%;
}

header .center {
    display: inline-block;
    color:white;
}

header h1{
    font-family:'Montserrat', sans-serif;
    font-weight: 300; /* pour mettre en light */
    font-size: 52px;
    margin:0px;
}

header h3,
header a {
    font-family:'Montserrat', sans-serif;
    font-weight: 300; /* pour mettre en light */
    font-size: 18px;
    margin:0px;
    color:#ffffff;
    display: inline-block;
    text-decoration: none;
}

header a::after {
    content: "/";
    margin:0 10px;
    color : #ffffff;
}

header article{
    font-family:'Open Sans', sans-serif;
    font-size: 18px;
    width: 85%;
    margin-bottom: 40px;
    margin-top:40px;  
    line-height: 1.6;
}

header img{
    margin-top:55px;
    margin-bottom: 55px;
    width: 30%;
    float: left;
}

header .texte{
    width: 65%;
    float: right;
    position: relative;
    transform: translateY(50%);
    text-align: left;
}

header .texte2{
    padding: 100px 0; 
    margin: 0 auto ;
}

header .wrapper {text-align: center;}

header .center span {display: inline-block;}

header p {
    font-family:'Open Sans', sans-serif;
    font-size: 14px;
    display: inline-block;
    margin:0px;
}

header .download {
    border: solid 2px;
    display: inline-block;
    padding: 15px 15px;
    border-radius: 5px;
}

header .download:hover { color: black;}

header .left {
    margin-bottom: 40px;
    margin-left: 50px; 
}
header .left .toto { 
    display: inline-block;  
    color: white;
    font-size: 24px;
}

header .left .toto + .toto { margin-left: 20px; }

header .left .google:hover { color : yellow;}

header .left .youtube:hover { color : red; }

header .left .icon-twitter { color : #00a8ff; }

header .left .facebook:hover { color : #3b5998 ; }

/* ========================== PARTIE FEATURE ========================== */


.Feature {
    background: #eef2f5;
    overflow: hidden;
}

.Feature .wrapper .paragraphes article { 
    width: 40%;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color:#696969;
}

.Feature .wrapper .paragraphes article:nth-child(even){margin-left:60px;} 

.Feature .wrapper .paragraphes article:nth-child(2) {margin-bottom: 60px;}

.Feature .wrapper .paragraphes article h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color:#0b0b0b;
}

.Feature .wrapper .paragraphes {
    position: relative;
    transform: translateY(50%);    
    width: 55%;
    float: left;
    margin-left: 20px;

}

.Feature .wrapper figure img {
    width:39%;
    float: right;
    margin-top:40px;
    margin-bottom: 40px;
}

/* ========================== PARTIE SCREENSHOTS ========================== */


.Screenshots h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color:#458fe1;
    text-align: center;
    margin-top: 80px;
}

.Screenshots h2 span { font-weight: bold;}

.Screenshots p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #656d80;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 80px; 
    line-height: 1.6;
}

.Screenshots .images figure {
    width: calc(25% - 30px);
    display: inline-block;
    margin: 0;
    border:solid #d0d0d0 1px;
}

.Screenshots .images figure:hover,
.Screenshots .images figure .active { opacity: 0.5;}

.Screenshots .images figure .active:hover { opacity: 1;}

.Screenshots .images figure + figure { margin-left: 30px; }
.Screenshots .images figure img {
    display: block;
    width: 100%;
}

.Screenshots nav{padding: 80px 100px 130px;}

.Screenshots ul {
    margin:0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.Screenshots ul li { display: inline-block; }

.Screenshots ul li a {
    display: block;
    margin: 0 5px;
    width: 10px;
    height: 10px;
    background: #3390fd;
    border-radius: 100%;
}

.Screenshots ul li a+a {margin-left: 10px;} 

.Screenshots ul li a.active,
.Screenshots ul li a:hover { transform:scale(1.5); }

/* ========================== PARTIE VEDIO ========================== */


.vedio{background: #eef2f5;}

.vedio .wrapper {
    background-image: url("../images/Iphone_3.png"); 
    background-repeat: no-repeat;
    background-position: right; 
    min-height: 700px;
}

.vedio .wrapper .texte{
    transform: translateY(70%);
    width: 70%;
} 

.vedio h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color:#458fe1;
    text-align: left;
    margin-bottom: 0px;
}

.vedio h2 span { font-weight: bold;}

.vedio p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #40485a;
    width: 60%;
    text-align: left;
    margin-bottom: 50px; 
    line-height: 1.6;
}


.vedio .play span{
   color: #3390fd;
   font-size: 30px;
}

.vedio .play a{
    display: inline-block;
    margin-left: 10px;
    font-family: 'Open sans', sans-serif;
    font-size: 14px; 
    color: #5c667d;
    font-weight: 400;
    text-decoration: none;
    position: relative;
    transform: translateY(-50%);
} 

.vedio .play a::after{
    content: "";
    display: block;
    width: 100%;
    height:1px;
    background: #5c667d;
    position: absolute;
    bottom: -5px;
    transition: 300ms;
} 

.vedio .play a:hover::after {
    width:0%;
    margin-left:50%;
}

/* ========================== PARTIE COLLECTION ========================== */

.Collection {
    background: linear-gradient(to right, rgba(0,99,250,1) 0%,rgba(0,194,255,1) 100%);
    overflow: hidden; /* pour cacher l'espace entre ce paragraphe et le précédent */
    padding-top: 50px;
    padding-bottom: 50px; 
}

.Collection .wrapper {text-align: center;}

.Collection .wrapper h2{
    font-family: 'Monserrat', sans-serif; 
    font-size: 40px;
    font-weight: 300;
    color: #ffffff; 
}

.Collection .wrapper h2 span {font-weight: 400;}

.Collection .wrapper p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #ffffff;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    font-weight: 400;
    line-height: 1.6;
}

.Collection .wrapper figure { display: inline-block;}

/* ========================== PARTIE TESTIMONIAL ========================== */


.Testimonial {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;}

.Testimonial h2{
    font-family: 'Montserrat', sans-serif; 
    font-size: 40px;
    font-weight: 300;
    color: #458fe1;
}

.Testimonial h2 span { font-weight: 400;}

.Testimonial p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #656d80;
    width: 60%;
    margin: auto; /* Pour mettre en centrer malgré le width */
    margin-bottom: 50px;
    line-height: 1.6;
}

.Testimonial h3 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 25px;
    font-weight: 400;
    color: #458fe1;
    margin-top: 15px;
    margin-bottom:0px;  
}

.Testimonial h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #656d80;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom:30px; 
}

.Testimonial ul {
    margin-top:50px;
    padding: 0;
    list-style: none;
    text-align: center;
}

.Testimonial ul li { display: inline-block; }

.Testimonial ul li a {
    display: block;
    margin: 0 5px;
    width: 10px;
    height: 10px;
    background: #3390fd;
    border-radius: 100%;
}

.Testimonial ul li a+a {margin-left: 10px;} 

.Testimonial ul li a.active,
.Testimonial ul li a:hover { transform:scale(1.5); }

/* ========================== PARTIE INFORMATION ========================== */


.Information {
    background: linear-gradient(to right, rgba(0,194,255,1) 0%,rgba(0,99,250,1) 100%);
    padding-top: 50px;
    padding-bottom: 50px;
}

.Information .wrapper {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 19px;
    color: white;
    text-align: center;
    position: relative;
}

.Information .wrapper .left {
    display: inline-block;
    text-align: center;
}

.Information .wrapper .left .content{
    display: inline-block;
    margin-right:90px; 
}

.Information .wrapper .center::before, 
.Information .wrapper .right::before{
    content: "";
    display: inline-block;
    width: 2px;
    height:100%;
    background: #ffffff;
    height: 180px;
    position: absolute;
    transform: rotate(20deg);
}

.Information .wrapper .center::before {
    position: absolute;
    left: 400px;
}

.Information .wrapper .center {    
    display: inline-block;
    text-align: center;
    margin-left:100px;
    margin-right:100px; 
}

.Information .wrapper .right {    
    display: inline-block;
    text-align: center;
}

.Information .wrapper .right .content{
    display: inline-block;
    margin-left:90px; 
}

.Information .wrapper span {font-size: 40px;}

.Information .wrapper p {
    margin-top: 20px;
    margin-bottom:0px;
}
 
.Information .wrapper p + p { 
    margin-top: 0px;
    margin-bottom: 30px;
}

/* ========================== PARTIE PRICES ========================== */


.Prices {
    padding-top:100px;
    padding-bottom:100px; 
    text-align: center;
}

.Prices h2 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 40px;
    font-weight: 400;
    color: #458fe1;
    margin: 0;
}

.Prices p {
    font-family: 'Open Sans', sans-serif; 
    font-size: 14px;
    font-weight: 400;
    color: #8f98ad;
    width: 50%;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 50px;
    line-height: 1.6;

}

.Prices .left {
    display: inline-block;
    border: 1px solid #8f98ad; 
    padding: 20px 50px;   
}

.Prices .left:hover {
    box-shadow: 0px 0px 10px 1px grey; 
    border:0px;
}

.Prices .center {
    display: inline-block;
    padding: 20px 50px;   
    margin-left:40px;
    margin-right: 40px;
    box-shadow: 0px 0px 10px 1px grey; 
}

.Prices .right {
    display: inline-block;
    border: 1px solid #8f98ad; 
    padding: 20px 50px;   
}

.Prices .right:hover {
    box-shadow: 0px 0px 10px 1px grey; 
    border:0px;
}

.Prices h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color:#9fa4af;
    font-weight: 400;
}

.Prices h4 {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #4f4f6f;
    margin-top:20px;
}

.Prices h4 sup { font-size: 16px; }

.Prices h4 span {font-size: 16px;}

.Prices h5 span { color:#4e9ffd;}

.Prices h5  {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:#6a6c6d;
    margin-top: 0px;
    margin-bottom: 10px;
}

.Prices .button {
    border-radius : 50px;
    padding: 15px 20px;
    background: linear-gradient(to right, rgba(0,99,250,1) 0%,rgba(0,194,255,1) 100%);
    font-family: 'Monserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color:#ffffff; 
    margin-top:40px;
    margin-bottom:20px;
}

.Prices a { text-decoration: none;}

.Prices a .button:hover,
.Prices a .button.active { background: linear-gradient(to bottom, rgba(0,194,255,1) 0%,rgba(0,99,250,1) 100%);}

/* ========================== PARTIE BLOG ========================== */

.Blog .wrapper {text-align: center;}

.Blog .wrapper h2 {
    font-family: 'Monserrat', sans-serif;
    font-size:40px;
    font-weight: 400;
    color:#458fe1;
    margin-bottom: 20px;
}
.Blog .wrapper h3 {
    font-family: 'Monserrat', sans-serif;
    font-size:18px;
    font-weight: 400;
    color:#494753;
}

.Blog .wrapper p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #8f98ad;
    width: 50%;
    margin: auto;
    margin-bottom: 60px;
    line-height: 1.6;
}

.Blog .wrapper article{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #6a6c6d;
    text-align: initial;
    line-height: 1.6;
}

.Blog .wrapper figure {
    position: relative;
    width: 100%;
    margin:0;
}

.Blog .wrapper figcaption {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #6a6c6d;
    text-align: initial;
}

.Blog .wrapper .left,
.Blog .wrapper .center,
.Blog .wrapper .right {
    width: 33%;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

.Blog  .wrapper .button {
    border-radius : 50px;
    padding: 15px 40px;
    background: linear-gradient(to right, rgba(0,99,250,1) 0%,rgba(0,194,255,1) 100%);
    font-family: 'Monserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color:#ffffff; 
    margin-top:40px;
    margin-bottom:20px;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    clear: both;
    display: inline-block;
    margin: 80px 0px;
    }

.Blog a .button:hover{ background: linear-gradient(to bottom, rgba(0,194,255,1) 0%,rgba(0,99,250,1) 100%);}

/* ========================== PARTIE FOOTER ========================== */

/* ========================== PARTIE FIRST FOOTER ========================== */


#first_footer {
    background: linear-gradient(to right, rgba(0,99,250,1) 0%,rgba(0,194,255,1) 100%);
    padding: 50px 0; 
}

#first_footer p{
    font-family: 'Monserrat', sans-serif;
    font-size: 20px;
    color: #ffffff;
    float: left;
    margin: 0;  
    line-height: 45px;
    margin-left:80px;
}

#first_footer p span {font-size: 25px;}

#first_footer a .button {
    border: 1px solid #ffffff;
    border-radius : 50px;
    padding: 15px 50px;    
    font-family: 'Monserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color:#ffffff; 
    margin-top:40px;
    margin-bottom:20px;
    text-transform: uppercase;
    clear: both;
    margin: 0;
    margin-right:80px;
}

#first_footer a {
    float:right;
    text-decoration: none;
}
/* ========================== PARTIE SECOND FOOTER ========================== */


#second_footer{
    background: #21242a;
    padding: 100px 0;
    clear: both;
}

#second_footer h3 {
    font-family: 'Monserrat', sans-serif;
    font-size:20px;
    color: #ffffff;
    font-weight: 400;
}

#second_footer h5,
#second_footer h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:#ffffff;
    margin-bottom: 0px;
    margin-top:15px;
    line-height: 1.6;
    opacity: 0.5;
}

#second_footer .left,
#second_footer .center{
    display: inline-block;
    width: 25%;
    float: left;
}

#second_footer .right{
    display: inline-block;
    width: 48%;
    float: right;
}

#second_footer .right .Email {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius : 50px;
    height: 48px;
    position: relative;
    margin-top: 50px ;
}

#second_footer .right .Email h6 {
    float: left;
    height: 44px;
    margin:0;
    margin-top:12px;
    margin-left: 10px;
}

#second_footer .right .Email a .button {
    border-radius : 50px;
    padding: 15px 50px;    
    font-family: 'Monserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color:#ffffff; 
    margin-top:40px;
    margin-bottom:20px;
    text-transform: uppercase;
    clear: both;
    margin: 0;
    text-decoration: none;
    display: inline-block;
    background: linear-gradient(to right, rgba(79,160,223,1) 0%,rgba(71,117,230,1) 100%);
    position: absolute;
    right:2px;
    top:1px;
}

#second_footer .right a{
    text-decoration: none;
    float :right;
}

/* ========================== PARTIE THIRD FOOTER ========================== */


#third_footer {
    background: #1c1f24;
    padding: 10px 0;
}

#third_footer h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color:#9a9a9a;
    text-align: center;
}

#third_footer h4 span + span { color:#4f9ee0;}

/* ========================== PARTIE MAIN DE BLOG DETAILS ========================== */

/* ========================== PARTIE GAUCHE ========================== */

.content {
    width: 70%;
    display: inline-block;
}

main .wrapper .content figure { margin: 100px 0 30px 0;}


main .wrapper .content h2{
    font-family: 'Monserrat', sans-serif;
    font-size: 20px;
    color: #011d27;
}

main .wrapper .content .info1,
main .wrapper .content .info2,
main .wrapper .content .info3 {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #bcbcbc;
    font-style: italic;
}
main .wrapper .content .info2::after,
main .wrapper .content .info2::before
 {
    content: "/";
    margin:0 10px;
    color : #bcbcbc;
}

main .wrapper .content article{
    margin: 20px 0;
    width: 87%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #788a9e;
}

main .wrapper .content h4 {
    display: inline-block;
    font-family: 'Monserrat', sans-serif;
    font-size: 14px;
    color:#011d27;
    text-transform: uppercase;
    margin-bottom:0;
}

main .wrapper .content .reseaux,
main .wrapper .content .facebook,
main .wrapper .content .twitter,
main .wrapper .content .linkedin,
main .wrapper .content .google,
main .wrapper .content .pinterest,
main .wrapper .content .instagramme{
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    color: #5e6d77;
}

/* ========================== PARTIE COMMENTAIRES ========================== */

main .wrapper .commentaires h3{
    font-family: 'Monserrat', sans-serif;
    font-size: 16px;
    color:#011d27;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom:35px; 
}

main .wrapper .commentaires figure{
    margin: 0;
    margin-right: 30px;
    float: left;
    margin-bottom: 30px;
}

main .wrapper .commentaires .right h4{
    font-family: 'Monserrat', sans-serif;
    font-size: 14px;
    color:#011d27;
    font-weight: 300;
    text-transform: uppercase;
    margin:0;
}

main .wrapper .commentaires .right article{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #788a9e;
    line-height: 1.6;
    margin: 10px 0;

}

main .wrapper .commentaires .right .date {
    float: left;
    margin-right: 20px;
    font-family: 'Monserrat', sans-serif;
    font-size: 14px;
    color:#5e6d77;
}

main .wrapper .commentaires .right .reply {
    font-family: 'Monserrat', sans-serif;
    font-size: 14px;
    color:#5e6d77;
}


hr{ 
    margin:50px 0 30px 0;
    width: 90%;
}


/* ========================== PARTIE CONTACT ========================== */


main .wrapper .Contact h3{
    font-family: 'Monserrat', sans-serif;
    font-size: 16px;
    color:#011d27;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom:35px; 
}

input[type=text] {
    width: 35%;
    padding-bottom: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid grey;
  }

form span{ padding-left:50px; }

#message {
    width: 77%;
    padding: 12px 0px 60px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid grey;
  }

  .Contact .button {
    border-radius : 50px;
    padding: 15px 20px;
    background: linear-gradient(to right, rgba(0,99,250,1) 0%,rgba(0,194,255,1) 100%);
    font-family: 'Monserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color:#ffffff; 
    margin-top:40px;
    margin-bottom:20px;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    clear: both;
    display: inline-block;
    margin: 40px 0px 80px;
}

.Contact a .button:hover{ background: linear-gradient(to bottom, rgba(0,194,255,1) 0%,rgba(0,99,250,1) 100%);}

/* --------------------------- PARTIE DROITE ---------------------------- */

aside {
    width: 29%;
    float:right;
    display: block;
    padding-top:100px;
}

aside .recherche{
    display: inline-block;
    font-family: 'Monserrat', sans-serif;
    font-size: 14px;
    position: relative;
    z-index: 1;
}

aside .recherche .icon a {
    width: 5%;
    display: inline-block;
    margin: 0;
    float: right;
    margin-top:-30px; 
    position: relative;
    z-index: 2;
    margin-left: 300px;
    text-decoration: none;
    color:#011d27;
}

aside input[type=text] {
    width: 100%;
    padding-bottom: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid grey;
    background-position: 10px 10px; 
    background-repeat: no-repeat; 
    display: inline;
}

aside h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color:#011d27;
}

aside p {
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    color:#011d27;
    margin: 0px;
}

aside .Category p,
aside h3,
aside .Texte p:last-child { 
    border-bottom:1.5px solid  rgba(188, 188, 188, 0.5)  ;
    padding-bottom:20px; 
    padding-top :20px; 
}

aside .Tages h3 {border: none;}

aside .Category span+span {float:right;}

aside h3{
    font-family: 'Monserrat', sans-serif; 
    font-size :20px;
    color: #011d27; 
    margin: 0px;
    padding-bottom: 40px;
    padding-top: 50px;
}

aside .Texte p {
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    color: #011d27;
    padding-top: 10px;
}

aside .Texte p:first-child {margin-top:20px; }

aside .Texte p:nth-child(even) {
    font-family: 'Open sans', sans-serif;
    font-size: 12px;
    color: #bcbcbc;
    padding-top:0px; 
}


aside .Tages span {
    border : 1px solid #011d27;
    padding: 5px 15px;
    margin-right: 10px;
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    color: #555555;
    display: inline-block;
    margin-top: 15px;
}

/* ========================== PARTIE FAQ ========================== */

.en-tete a {
    font-family: 'Monserrat', sans-serif; 
    font-size: 14px;
    color: #9c9b9b;
    margin-top:120px;
    margin-bottom: 50px;
    display: inline-block;
}

.en-tete a+a {margin-left: 40px;}

.en-tete a .active,
.en-tete a+a:hover {
    background: #dfdfdf;
    padding: 10px 20px;
}

.HelpContactGetting { margin: 100px 0px;}


.liste p {
    border-bottom:1.5px solid  rgba(188, 188, 188, 0.5)  ;
    padding:25px 0px; 
    width: 85%;
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    color: #444444;
    margin: 0px;
}

.liste p:last-child { border: none; }

.left_1 h3,
.center_1 h3,
.right_1 h3 {
    font-family: 'Monserrat', sans-serif; 
    font-size: 18px;
    color: #4d4d4d;
    margin-bottom:50px; 
}

.left_1 .ligne a,
.center_1 .ligne a,
.right_1 .ligne a{
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    color: #868686;
}

.left_1 .ligne a i,
.center_1 .ligne a i,
.right_1 .ligne a i{ margin-right: 10px;}

.left_1 .ligne,
.center_1 .ligne,
.right_1 .ligne { margin-bottom: 20px;}

.left_1,
.center_1,
.right_1 {display: inline-block;}

.center_1,
.right_1 {margin-left: 100px;}

.ForumMessage span{
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    color: #4d4d4d;
    margin-bottom: 100px; 
    display: inline-block;
}

.ForumMessage span + span{ margin-left:70px; }

.ForumMessage span:first-child,
.ForumMessage span:hover
 {
    border: 1px solid  #4d4d4d;
    padding: 20px;
}

/* ========================== PARTIE MAIN DE BLOG ========================== */

/* ========================== PARTIE GAUCHE ========================== */

/* ========================== PARTIE LISTE DES BLOGS ========================== */

.ligne_1,
.ligne_2,
.ligne_3 { margin: 60px 0px;}

.liste_blog figure {
    width: 100%;
    margin:0;
}

.ligne_1 .image_left,
.ligne_1 .image_right,
.ligne_2 .image_left,
.ligne_2 .image_right,
.ligne_3 .image_left,
.ligne_3 .image_right {
    width: 40%;
    display:inline-block;
}

.ligne_1 .image_right,
.ligne_2 .image_right,
.ligne_3 .image_right{ margin-left:50px; }

.liste_blog article {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #292a33;
    text-align: initial;
    line-height: 1.6;
    margin-bottom: 20px;
}

.liste_blog .ligne_1{ margin-top:100px;}

.liste_blog figcaption {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #47505c;
    margin-top:20px;
}

.liste_blog h3 {
    font-family: 'Monserrat', sans-serif;
    font-size: 18px;
    color: #252a30; 
}

.liste_blog a {
    font-family: 'Monserrat', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #84b0f8; 
}

.liste_blog a:hover{ text-decoration: underline;}

/* =================== PARTIE NUMEROTATION PAGE ========================= */

.numerotation {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color:#232323;
    text-align: center;
    border-top: 1px solid rgba(188, 188, 188, 0.5)  ;
    border-bottom: 1px solid rgba(188, 188, 188, 0.5);
    padding: 20px 0px;
    margin-top: 0px;
    margin-bottom: 150px;
}

.numerotation span {margin-left:10px; }

.numerotation span:first-child { margin-right: 40px; }

.numerotation span:last-child { 
    margin-left: 40px;
    color: #008aff; 
}

.numerotation span:nth-child(2),
.numerotation span:hover {
    color: #008aff; 
    border-bottom: 1px solid #008aff;
    padding: 0px 5px 3px; 
} 

.numerotation span i:first-child{ margin-right: 5px;}

.numerotation span i:last-child{ margin-left: 5px;}





